<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="NuGet-Flyttavle2" value="https://pkgs.dev.azure.com/sh-vest/Flyttavle/_packaging/NuGet-Flyttavle2/nuget/v3/index.json" />
    </packageSources>
  <disabledPackageSources>
    <add key="NuGet-Flyttavle2" value="true" />
  </disabledPackageSources>
</configuration>